.col-xs-12.text-center
  %b
    Ficha de Inscripción Alumnos- VIII Encuentro Regional Uniendo Metas, Jóvenes para el Futuro- Bragado-
  %br
  %br

.col-xs-12
  .col-xs-12.form-group
    = f.input :id, required: false, input_html: {class: "form-control"}
    
  .col-xs-12.form-group
    = f.input :participated, as: :select, collection: [["Si", true], ["No", false]], selected: f.object.participated, input_html: {class: "form-control js-select2"}

  .col-xs-12.form-group
    = f.input :school, required: false, input_html: {class: "form-control"}

  .col-xs-12.form-group
    = f.input :professor, required: false, input_html: {class: "form-control"}

.col-xs-12
  = f.simple_fields_for :person, f.object.person || f.object.build_person do |variant_form|
    = render 'inscriptions/person_fields', f: variant_form, item: f.object
  %br
.col-xs-12
  = f.simple_fields_for :medical_data, f.object.medical_data || f.object.build_medical_data do |variant_form|
    = render 'inscriptions/medical_data_fields', f: variant_form, item: f.object
  %br
  %br
  %br

= render 'inscriptions/partaker_authorization_section'
