%body#page-top.index
  = render "/shared/simple_navbar"
  
  %header#inscription{style: "background-color: #222; background-image: url('../img/principal/mnubragado-background4.jpeg');"}
    .container{style: "padding-top: 240px; padding-bottom: 240px; margin-top: 50px;"}
      .row
        .col-lg-12
          %h1.section-heading.pull-left{style: "color: #333;"}
            Autoridad

  %section#inscription{style: "margin-top: -350px;"}
    .container

      .row
        .col-xs-12
          .js-item-container
            = simple_form_for(@authority_inscription, html: { class: "form js-item-form" }) do |f|
              .admin-common-panel
                .row.admin-common-panel__content
                  = render "authority_fields", f: f

                  .col-xs-12.text-right
                    %br
                    .col-xs-12
                      #success
                      = link_to :back, class: "btn btn-default ml10" do
                        %span
                          %b
                            CANCELAR
                      %button.btn.btn-primary{type: "submit"} Aceptar



  = render "/shared/simple_footer"