.col-xs-12.text-center
  %b.text-center
    Ficha de Inscripción Docentes XI Encuentro Uniendo Metas, Jóvenes para el Futuro
  %br
  %br
  %br

.col-md-12
  .col-xs-12.form-group
    = f.input :id, required: false, input_html: {class: "form-control"}

  .col-xs-12.form-group
    = f.input :school, required: false, input_html: {class: "form-control"}

.col-md-12
  = f.simple_fields_for :person, f.object.person || f.object.build_person do |variant_form|
    .col-xs-12
      = variant_form.input :first_name, required: false, input_html: {class: "form-control"}
      %br
    .col-xs-12
      = variant_form.input :last_name, required: false, input_html: {class: "form-control"}
      %br
    .col-xs-12
      = variant_form.input :dni, required: false, input_html: {class: "form-control"}
      %br
  %br

/ .col-xs-12
/   %br
/   %br
/   %br
/   %hr{style: "border-top: 1px solid black; margin-bottom: 10px;"}    
/   Firma, aclaración y DNI