.col-xs-12
  .col-xs-12.form-group
    = f.input :id, required: false, input_html: {class: "form-control"}
  .col-xs-12.form-group
    = f.input :participated, as: :select, collection: [["Si", true], ["No", false]], selected: f.object.participated, input_html: {class: "form-control"}

  .col-xs-12.form-group
    = f.input :school, required: false, input_html: {class: "form-control"}

  .col-xs-12.form-group
    = f.input :professor, required: false, input_html: {class: "form-control"}

  .col-xs-12.form-group
    = f.input :rol, required: false, input_html: {class: "form-control js-select2"},
      collection: Delegate.rols.keys,
      placeholder: I18n.t("administrate.select_option",
        option: Delegate.human_attribute_name(:rol)),
      selected: f.object.rol,
      include_blank: true,
      label_method: -> (org) { t("partaker.rols")[org.to_sym] }

.col-xs-12
  = f.simple_fields_for :person, f.object.person || f.object.build_person do |variant_form|
    = render 'inscriptions/person_fields', f: variant_form, item: f.object
  %br
.col-xs-12
  = f.simple_fields_for :medical_data, f.object.medical_data || f.object.build_medical_data do |variant_form|
    = render 'inscriptions/medical_data_fields', f: variant_form, item: f.object
  %br
  
.col-xs-12
  %br
  %br
  %br
  %hr{style: "border-top: 1px solid black; margin-bottom: 10px;"}    
  Responsable del establecimiento (Firma, aclaración y sello)
