%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contacto
    .row
      .col-lg-12
        = simple_form_for (@query || Query.new), url: query_path do |f|
          .row
            .col-md-6
              .form-group
                = f.input :name, label: false, placeholder: "Nombre *", required: true, type: :text, input_html: {id: "name", class: "form-control", "data-validation-required-message" => "Por favor, ngrese su nombre."}
                %p.help-block.text-danger
              .form-group
                = f.input :email, label: false, placeholder: "Email *", required: true, type: :email, input_html: {id: "email", class: "form-control", "data-validation-required-message" => "Por favor, ingrese su email."}
                %p.help-block.text-danger
              .form-group
                = f.input :phone_number, label: false, placeholder: "Teléfono (opcional)", required: false, type: :teñ, input_html: {id: "phone", class: "form-control"}
                %p.help-block.text-danger
            .col-md-6
              .form-group
                = f.input :message, label: false, placeholder: "Su mensaje *", required: true, type: :textarea, input_html: {id: "message", class: "form-control", "data-validation-required-message" => "Por favor, ingrese su mensaje."}
                %p.help-block.text-danger
            .clearfix
            .col-lg-12.text-center
              #success
              %button.btn.btn-xl{:type => "submit"} Enviar Mensaje