%section#extra
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Qué más?
        %h3.section-subheading.text-muted
          Creemos que es de vital importancia la colaboración y la sinergia de toda la sociedad bragadense para poder potenciar las capacidades individuales de cada uno. Es por eso que hemos decidido colaborar con multiples proyectos que se encuentran arraigados en nuestra comunidad.

    .row
      .col-md-4.col-sm-6.about-item
        %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #D86313 solid 5px;"}
          .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #D86313"}
            .about-hover-content
              Campaña #NiUnaMenos 2015
          .about-original
            = image_tag '/img/campaigns/niunamenos2015.jpeg', class: "img-responsive img-circle"

      .col-md-4.col-sm-6.about-item
        %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #157C3A solid 5px;"}
          .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #157C3A;"}
            .about-hover-content
              Campaña #NiUnaMenos 2017
          .about-original
            = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"

      .col-md-4.col-sm-6.about-item
        %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #2A8CC8 solid 5px;"}
          .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #2A8CC8"}
            .about-hover-content{style: "top: 43%;"}
              Campañas #AyudanosaAyudar
              %br
              Colecta de alimentos, ropa y juguetes Dia del niño 2017
          .about-original
            = image_tag '/img/campaigns/alimentos2.png', class: "img-responsive img-circle", style: "height: 290px; width: 290px;"

      .col-md-4.col-sm-6.about-item
        %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #D94F42 solid 5px;"}
          .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #D94F42"}
            .about-hover-content{style: "top: 48%;"}
              Campaña contra la Polio 2017, en conjunto con Rotary
          .about-original
            = image_tag '/img/campaigns/rotary.png', class: "img-responsive img-circle", style: "height: 290px;"

      .col-md-4.col-sm-6.about-item
        %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #EADC27 solid 5px;"}
          .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #EADC27"}
            .about-hover-content{style: "top: 43%;"}
              Campañas #AyudanosaAyudar
              %br
              Colecta de golosinas Dia del Niño 2018. Colaboración con Korima
          .about-original
            = image_tag '/img/campaigns/golosinas3.png', class: "img-responsive img-circle", style: "height: 290px; width: 290px;"

      .col-md-4.col-sm-6.about-item
        %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #F6D9D9 solid 5px;"}
          .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #F6D9D9"}
            .about-hover-content
              Colecta de útiles escolares 2018
          .about-original
            = image_tag '/img/campaigns/utiles.jpeg', class: "img-responsive img-circle"


      / .col-md-4.col-sm-6.about-item
      /   %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #57B1C8 solid 5px;"}
      /     .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #57B1C8"}
      /       .about-hover-content
      /         la triple articulación que se da en Uniendo Metas
      /     .about-original
      /       = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"

      / .col-md-4.col-sm-6.about-item
      /   %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #524482 solid 5px;"}
      /     .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #524482"}
      /       .about-hover-content
      /         festejamos los 20 años de modelos en Bragado
      /     .about-original
      /       = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"

      / .col-md-4.col-sm-6.about-item
      /   %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #A1B550 solid 5px;"}
      /     .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #A1B550"}
      /       .about-hover-content
      /         que trabajan para que todo salga genial
      /     .about-original
      /       = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"

      / .col-md-4.col-sm-6.about-item
      /   %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #49AC7B solid 5px;"}
      /     .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #49AC7B"}
      /       .about-hover-content
      /         se comprometieron con nosotros en 2016
      /     .about-original
      /       = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"

      / .col-md-4.col-sm-6.about-item
      /   %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #EC985C solid 5px;"}
      /     .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #EC985C"}
      /       .about-hover-content
      /         participaron del encuentro en 2016
      /     .about-original
      /       = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"

      / .col-md-4.col-sm-6.about-item
      /   %a.about-link.img-circle{href: "#", onclick: "return false;", style: "border: #1C5886 solid 5px;"}
      /     .about-hover.img-circle{href: "#", onclick: "return false;", style: "background-color: #1C5886"}
      /       .about-hover-content
      /         es lo que dura nuestro MNU Bragado
      /     .about-original
      /       = image_tag '/img/campaigns/niunamenos.jpg', class: "img-responsive img-circle"
