.col-sm-4
  .team-member.trainer-member
    //%img.img-responsive.img-circle{style: "width: 250px; height: 250px;", alt: ""}/
    .image
      .primary-image
        = image_tag trainer.principal_image.mediumthumb, class: "img-responsive img-circle", style: "border: 3px solid #{color};"
      .secondary-image{style: "display: none;"}
        = image_tag trainer.secondary_image.mediumthumb, class: "img-responsive img-circle", style: "border: 3px solid #{color};"
    %h4 
      = trainer.full_name
    %p.text-muted
      = trainer.rol
    %ul.list-inline.social-buttons
      - if trainer.twitter_url.present?
        %li
          %a{href: trainer.twitter_url, target: '_blank'}
            %i.fa.fa-twitter
      - if trainer.facebook_url.present?
        %li
          %a{href: trainer.facebook_url, target: '_blank'}
            %i.fa.fa-facebook
      - if trainer.instagram_url.present?
        %li
          %a{href: trainer.instagram_url, target: '_blank'}
            %i.fa.fa-instagram