.col-sm-4
  .team-member
    %img.img-responsive.img-circle{style: "width: 250px; height: 250px;", alt: "", src: "img/team/#{trainer.principal_image_name}"}/
    = #image_tag trainer.principal_image.thumb, class: "img-responsive img-circle"
    = #image_tag trainer.secondary_image.thumb, class: "hover img-responsive img-circle"
    %h4 
      = trainer.full_name
    %p.text-muted
      = trainer.rol
    %ul.list-inline.social-buttons
      - if trainer.twitter_url.present?
        %li
          %a{href: trainer.twitter_url, target: '_blank'}
            %i.fa.fa-twitter
      - if trainer.facebook_url.present?
        %li
          %a{href: trainer.facebook_url, target: '_blank'}
            %i.fa.fa-facebook
      - if trainer.instagram_url.present?
        %li
          %a{href: trainer.instagram_url, target: '_blank'}
            %i.fa.fa-instagram