%body#page-top.index
  / Navigation
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.page-scroll{:href => "#page-top"} UM Bragado
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.hidden
            %a{:href => "#page-top"}
          %li
            %a.page-scroll{:href => topics_archives_path} Tópicos
          %li
            %a.page-scroll{:href => inscriptions_path} Inscripción
          %li
            %a.page-scroll{:href => "#services"} Valores
          %li
            %a.page-scroll{:href => "#portfolio"} Portfolio
          %li
            %a.page-scroll{:href => "#about"} Sobre Nosotros
          %li
            %a.page-scroll{:href => "#team"} Equipo
          %li
            %a.page-scroll{:href => "#contact"} Contacto

  / Header
  /%header{style: "background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/12087222_625663870909890_8410275137166496918_o.jpg');"}
  /%header{style: "background-image: url('img/principal/mnubragado-background.jpeg');"}
  %header{style: "background-image: url('img/principal/principal1.gif');"}
    .container
      .intro-text
        .intro-lead-in Uniendo Metas, Jóvenes para el Futuro
        .intro-heading Modelo Naciones Unidas Bragado
        %a.page-scroll.btn.btn-xl{:href => "#services"} Quiero saber más
        %a.page-scroll.btn.btn-xl{:href => inscriptions_path} Inscripciones 2017
        %a.page-scroll.btn.btn-xl{:href => topics_archives_path} Tópicos 2017
 
  / Services Section
  = render "home/service_section"
  
  / Portfolio Grid Section
  = render "home/portfolio_section"

  / About Section
  = render "home/about_section"

  / Team Section
  = render "home/team_section"
  
  / Clients Aside
  = render "home/clients_section"
  
  / Contact Section
  = render "home/contact_section"

  / Footer
  = render "home/footer"
