%body#page-top.index
  / Navigation
  = render "/home/navbar"

  / Header
  = render "/home/header"

  / Services Section
  = render "home/service_section"

  / Clients Aside
  = render "home/clients_section"

  / About Section
  = render "home/about_section"

  / Extra info Section
  = render "home/extra_section"  

  / Team Section
  = render "home/team_section"
  
  / Portfolio Grid Section
  = render "home/portfolio_section"
  
  / Contact Section
  = render "home/contact_section"

  / Footer
  = render "home/footer"
