%body#page-top.index
  / Navigation
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.page-scroll{:href => "#page-top"} UM Bragado
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.hidden
            %a{:href => "#page-top"}
          %li
            %a.page-scroll{:href => "#services"} Valores
          %li
            %a.page-scroll{:href => "#portfolio"} Portfolio
          %li
            %a.page-scroll{:href => "#about"} Sobre Nosotros
          %li
            %a.page-scroll{:href => "#team"} Equipo
          %li
            %a.page-scroll{:href => "#contact"} Contacto

  / Header
  /%header{style: "background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/12087222_625663870909890_8410275137166496918_o.jpg');"}
  %header{style: "background-image: url('img/principal/principal1.gif');"}
    .container
      .intro-text
        .intro-lead-in Uniendo Metas, Jóvenes para el Futuro
        .intro-heading Modelo Naciones Unidas Bragado
        %a.page-scroll.btn.btn-xl{:href => "#services"} Quiero saber más
 
  / Services Section
  %section#services
    .container
      .row
        .col-lg-12.text-center
          %h2.section-heading Valores
      %br
      .row.text-center
        .col-md-4
          %span.fa-stack.fa-4x
            %i.fa.fa-circle.fa-stack-2x.text-primary
            %i.fa.fa-lock.fa-stack-1x.fa-inverse
          %h4.service-heading Compromiso
          %p.text-muted Este modelo intenta transmitir a los jovenes que se comprometan en el estudio de otras culturas y conlleva un compromiso aun mayor para con sus compañeros y sus pares.
        .col-md-4
          %span.fa-stack.fa-4x
            %i.fa.fa-circle.fa-stack-2x.text-primary
            %i.fa.fa-laptop.fa-stack-1x.fa-inverse
          %h4.service-heading Liderazgo
          %p.text-muted Uniendo metas con metodologia naciones unidas enseña a los jovenes no seolo de bragado sino de toda la republica argentina a ser capacez de tomar decicones o desempeñarse en la sociedad de hoy.
        .col-md-4
          %span.fa-stack.fa-4x
            %i.fa.fa-circle.fa-stack-2x.text-primary
            %i.fa.fa-users.fa-stack-1x.fa-inverse
          %h4.service-heading Amistad
          %p.text-muted Quiza lo mas importante, no? Quien no se ha hecho un amigo en el modelo? Quien no se ha reido de algo? Quien no ha llorado de emocion con un compañero?
      %br
      .row
        .col-lg-12.text-center
          %h3.section-subheading.text-muted Si todavia no sos uno de eso, es lo que te prometemos que te vas a llevar, asi que anotate. BIENVENIDOS!
  
  / Portfolio Grid Section
  = render "home/portfolio_section"

  / About Section
  = render "home/about_section"

  / Team Section
  = render "home/team_section"
  
  / Clients Aside
  = render "home/clients_section"
  
  / Contact Section
  = render "home/contact_section"

  / Footer
  = render "home/footer"

  / Portfolio Modals
  / Use the modals below to showcase details about your portfolio projects!
  / Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              / Project Details Go Here
              %h2 Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/roundicons-free.png"}/
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %p
                %strong> Want these icons in this portfolio item sample?
                You can download 60 of them for free, courtesy of
                = succeed "," do
                  %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} RoundIcons.com
                = succeed "." do
                  %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} here
              %ul.list-inline
                %li Date: July 2014
                %li Client: Round Icons
                %li Category: Graphic Design
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
  / Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              %h2 Project Heading
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/startup-framework-preview.png"}/
              %p
                %a{:href => "http://designmodo.com/startup/?u=787"} Startup Framework
                is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
              %p
                You can preview Startup Framework
                = succeed "." do
                  %a{:href => "http://designmodo.com/startup/?u=787"} here
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
  / Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              / Project Details Go Here
              %h2 Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/treehouse-preview.png"}/
              %p
                Treehouse is a free PSD web template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
  / Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              / Project Details Go Here
              %h2 Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/golden-preview.png"}/
              %p
                Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/golden-free-one-page-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
  / Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              / Project Details Go Here
              %h2 Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/escape-preview.png"}/
              %p
                Escape is a free PSD web template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
  / Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
    .modal-content
      .close-modal{"data-dismiss" => "modal"}
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              / Project Details Go Here
              %h2 Project Name
              %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              %img.img-responsive.img-centered{:alt => "", :src => "img/portfolio/dreams-preview.png"}/
              %p
                Dreams is a free PSD web template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
  / jQuery
  %script{:src => "js/jquery.js"}
  / Bootstrap Core JavaScript
  %script{:src => "js/bootstrap.min.js"}
  / Plugin JavaScript
  %script{:src => "js/jquery.easing.min.js"}
  %script{:src => "js/classie.js"}
  %script{:src => "js/cbpAnimatedHeader.js"}
  / Contact Form JavaScript
  %script{:src => "js/jqBootstrapValidation.js"}
  %script{:src => "js/contact_me.js"}
  / Custom Theme JavaScript
  %script{:src => "js/agency.js"}