%header.row.admin-header__container
  .col-xs-12.admin-header
    .center-vertical

      %h5.admin-header__breadcrumb 
        = link_to "Usuarios", admin_users_path
        = ">"
        = I18n.t("administrate.actions.change_password")
      %h1.admin-header__title
        = display_resource_name("Users")

.row
  .col-xs-12
    = simple_form_for(@resource, url: admin_user_update_password_path, method: :put, html: { class: "form" }) do |f|
      .admin-common-panel
        .row.admin-common-panel__header
          .col-xs-12
            %h5
              = t("backoffice.views.details")
        
        .row.admin-common-panel__content
          .col-xs-12
            .form-inputs
              = f.input :password, placeholder: "Contraseña", input_html: { class: "form-control" }
              %br
              = f.input :password_confirmation, placeholder: "Confirmar contraseña", input_html: { class: "form-control" }
        
      .mt20.mb40
        = button_tag( type: "submit", class: "btn btn-primary") do
          %span
            = submit_entity_label(f.object) 
          %i.fa.fa-plus.ml5

        = link_to :back, class: "btn btn-danger ml10" do
          %span= I18n.t("administrate.actions.cancel")
          %i.fa.fa-close.ml5