.col-xs-12.text-center
  %b
    Ficha de Inscripción Establecimiento- XI Encuentro Uniendo Metas, Jóvenes para el Futuro- Bragado-
  %br
  %br

.col-xs-12
  .col-xs-12
    = f.input :id, required: false, input_html: {class: "form-control"}
    %br
  .col-xs-12
    = f.input :cue, required: false, input_html: {class: "form-control"}
    %br
  .col-xs-12
    = f.input :name, required: false, input_html: {class: "form-control"}
    %br
  .col-xs-4
    = f.input :email, required: false, input_html: {class: "form-control"}
    %br
  .col-xs-4
    = f.input :phone_number, required: false, input_html: {class: "form-control"}
    %br
  .col-xs-4
    = f.input :fax_number, required: false, input_html: {class: "form-control"}
    %br
  %br
  .col-xs-12
    = f.input :director_name, required: false, input_html: {class: "form-control"}
    %br

  .col-xs-12
    = f.simple_fields_for :location, f.object.location || f.object.build_location do |variant_form|
      = render '/inscriptions/location_fields', f: variant_form, item: f.object
  %br

  / .col-xs-12
  /   %br
  /   %br
  /   %hr{style: "border-top: 1px solid black; margin-bottom: 10px;"}    
  /   Responsable del establecimiento (Firma, aclaración y sello)

  / %br
