.admin-common-panel
  .row.admin-common-panel__header
    .col-xs-12
      .col-xs-11
        %h5
          = title
      .col-xs-1
        %button.pull-right{style: "margin-top: 5px;", data: {toggle: "collapse",  target: "#medical_data_section"}}
          .glyphicon.glyphicon-chevron-down
  .row.admin-common-panel__content.collapse.in{id: "medical_data_section"}  
    .col-xs-12
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:has_chronic_desease)
        .col-sm-9
          - has_chronic_desease = resource.try(:has_chronic_desease)
          .span.label{class: "label-#{has_chronic_desease ? 'primary' : 'default'}"}
            = has_chronic_desease ? "Si" : "No"

      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:chronic_desease_detail)
        .col-sm-9
          .span
            = resource.try(:chronic_desease_detail)
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:take_medication)
        .col-sm-9
          - take_medication = resource.try(:take_medication)
          .span.label{class: "label-#{take_medication ? 'primary' : 'default'}"}
            = take_medication ? "Si" : "No"
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:medication_detail)
        .col-sm-9
          .span
            = resource.try(:medication_detail)
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:has_medical_background)
        .col-sm-9
          - has_medical_background = resource.try(:has_medical_background)
          .span.label{class: "label-#{has_medical_background ? 'primary' : 'default'}"}
            = has_medical_background ? "Si" : "No"
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:medical_background_detail)
        .col-sm-9
          .span
            = resource.try(:medical_background_detail)
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:has_allergy)
        .col-sm-9
          - has_allergy = resource.try(:has_allergy)
          .span.label{class: "label-#{has_allergy ? 'primary' : 'default'}"}
            = has_allergy ? "Si" : "No"
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:allergy_detail)
        .col-sm-9
          .span
            = resource.try(:allergy_detail)
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:has_specific_diet)
        .col-sm-9
          - has_specific_diet = resource.try(:has_specific_diet)
          .span.label{class: "label-#{has_specific_diet ? 'primary' : 'default'}"}
            = has_specific_diet ? "Si" : "No"
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:specific_diet_detail)
        .col-sm-9
          .span
            = resource.try(:specific_diet_detail)
      .row.admin-detail-row
        .col-sm-3
          .span.bold
            = MedicalDatum.human_attribute_name(:is_vegetarian)
        .col-sm-9
          - is_vegetarian = resource.try(:is_vegetarian)
          .span.label{class: "label-#{is_vegetarian ? 'primary' : 'default'}"}
            = is_vegetarian ? "Si" : "No"


    .col-sm-12
      .admin-common-panel
        .row.admin-common-panel__header
          .col-xs-12
            .col-xs-11
              %h5
                = MedicalDatum.human_attribute_name(:in_case_of_medical_emergency)
            .col-xs-1
              %button.pull-right{style: "margin-top: 5px;", data: {toggle: "collapse",  target: "#medical_emergency_section"}}
                .glyphicon.glyphicon-chevron-down
        .row.admin-common-panel__content.collapse.in{id: "medical_emergency_section"}  
          .col-xs-12
            .row.admin-detail-row
              .col-sm-3
                .span.bold
                  = MedicalDatum.human_attribute_name(:doctor_name)
              .col-sm-9
                .span
                  = resource.try(:doctor_name)
            .row.admin-detail-row
              .col-sm-3
                .span.bold
                  = MedicalDatum.human_attribute_name(:doctor_phone_number)
              .col-sm-9
                .span
                  = resource.try(:doctor_phone_number)
            .row.admin-detail-row
              .col-sm-3
                .span.bold
                  = MedicalDatum.human_attribute_name(:urgency_clinic)
              .col-sm-9
                .span
                  = resource.try(:urgency_clinic)