- show_buttons = local_assigns[:show_buttons].present?
%header.row.admin-header__container
  .col-xs-12
    .row
      .col-lg-12
        .row.admin-common-panel__header{style: "margin-top: 20px;", data: {toggle: "collapse",  target: "#total_section"}}
          .col-xs-12
            .col-xs-11
              %h4
                Paises totales
            .col-xs-1
              %button.pull-right{style: "margin-top: 7px;", data: {toggle: "collapse",  target: "#total_section"}}
                .glyphicon.glyphicon-chevron-down
      .div.collapse{id: "total_section"}
        .col-lg-4
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
              %thead
                %tr
                  %th.text-center AG
                  %th.text-center STI
                  %th.text-center CS
                  %th.text-center SEGIB
                  %th.text-center ECOSOC
              %tbody
                %tr
                  %td.col-xs-2.text-center 
                    = Country.where(ag: true).count
                  %td.col-xs-2.text-center 
                    = Country.where(sti: true).count
                  %td.col-xs-2.text-center 
                    = Country.where(cs: true).count
                  %td.col-xs-2.text-center 
                    = Country.where(segib: true).count
                  %td.col-xs-2.text-center 
                    = Country.where(ecosoc: true).count

        .col-lg-8
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
              %thead
                %tr
                  %th.text-center Europa y Otros
                  %th.text-center Asia y Pacífico
                  %th.text-center África
                  %th.text-center Lat. y Caribe
                  %th.text-center Observadoras
              %tbody
                %tr
                  %td.col-xs-2.text-center 
                    = Country.europe.count
                  %td.col-xs-2.text-center 
                    = Country.asia.count
                  %td.col-xs-2.text-center 
                    = Country.africa.count
                  %td.col-xs-2.text-center 
                    = Country.latam.count
                  %td.col-xs-2.text-center 
                    = Country.observer.count

  .col-xs-12
    .row
      .col-lg-12
        .row.admin-common-panel__header{style: "margin-top: 20px;", data: {toggle: "collapse",  target: "#assigned_section"}}
          .col-xs-12
            .col-xs-11
              %h4
                Paises asignados
            .col-xs-1
              %button.pull-right{style: "margin-top: 7px;", data: {toggle: "collapse",  target: "#assigned_section"}}
                .glyphicon.glyphicon-chevron-down
      .div.collapse.in{id: "assigned_section"}
        .col-lg-4
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
              %thead
                %tr
                  %th.text-center AG
                  %th.text-center STI
                  %th.text-center CS
                  %th.text-center SEGIB
                  %th.text-center ECOSOC
              %tbody
                %tr
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(ag: true).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(sti: true).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(cs: true).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(segib: true).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(ecosoc: true).count

        .col-lg-8
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
              %thead
                %tr
                  %th.text-center Europa y Otros
                  %th.text-center Asia y Pacífico
                  %th.text-center África
                  %th.text-center Lat. y Caribe
                  %th.text-center Observadoras
              %tbody
                %tr
                  %td.col-xs-2.text-center 
                    = Country.assigned.europe.count
                  %td.col-xs-2.text-center 
                    = Country.assigned.asia.count
                  %td.col-xs-2.text-center 
                    = Country.assigned.africa.count
                  %td.col-xs-2.text-center 
                    = Country.assigned.latam.count
                  %td.col-xs-2.text-center 
                    = Country.assigned.observer.count

  .col-xs-12
    .row
      .col-lg-12
        .row.admin-common-panel__header{style: "margin-top: 20px;", data: {toggle: "collapse",  target: "#pending_section"}}
          .col-xs-12
            .col-xs-11
              %h4
                Paises disponibles
            .col-xs-1
              %button.pull-right{style: "margin-top: 7px;", data: {toggle: "collapse",  target: "#pending_section"}}
                .glyphicon.glyphicon-chevron-down
      .div.collapse{id: "pending_section"}
        .col-lg-4
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
              %thead
                %tr
                  %th.text-center AG
                  %th.text-center STI
                  %th.text-center CS
                  %th.text-center SEGIB
                  %th.text-center ECOSOC
              %tbody
                %tr
                  %td.col-xs-2.text-center 
                    = Country.pending.where(ag: true).count
                  %td.col-xs-2.text-center 
                    = Country.pending.where(sti: true).count
                  %td.col-xs-2.text-center 
                    = Country.pending.where(cs: true).count
                  %td.col-xs-2.text-center 
                    = Country.pending.where(segib: true).count
                  %td.col-xs-2.text-center 
                    = Country.pending.where(ecosoc: true).count

        .col-lg-8
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
              %thead
                %tr
                  %th.text-center Europa y Otros
                  %th.text-center Asia y Pacífico
                  %th.text-center África
                  %th.text-center Lat. y Caribe
                  %th.text-center Observadoras
              %tbody
                %tr
                  %td.col-xs-2.text-center 
                    = Country.pending.europe.count
                  %td.col-xs-2.text-center 
                    = Country.pending.asia.count
                  %td.col-xs-2.text-center 
                    = Country.pending.africa.count
                  %td.col-xs-2.text-center 
                    = Country.pending.latam.count
                  %td.col-xs-2.text-center 
                    = Country.pending.observer.count


  .col-xs-12
    .row
      .col-lg-12
        .row.admin-common-panel__header{style: "margin-top: 20px;", data: {toggle: "collapse",  target: "#schools_section"}}
          .col-xs-12
            .col-xs-11
              %h4
                Delegaciones por escuela
            .col-xs-1
              %button.pull-right{style: "margin-top: 7px;", data: {toggle: "collapse",  target: "#schools_section"}}
                .glyphicon.glyphicon-chevron-down

        .table-responsive.collapse{id: "schools_section"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center Escuela
                %th.text-center 3
                %th.text-center 5 (CS)
                %th.text-center 5 (SEGIB)
                %th.text-center 5 (ECOSOC)
                %th.text-center 7 (CS+SEGIB)
                %th.text-center 7 (CS+ECOSOC)
                %th.text-center 7 (ECOSOC+SEGIB)
                %th.text-center Observ.
                %th.text-center Total 
            %tbody
              - School.all.each do |school|
                - school_countries = Country.assigned.where(school_id: school.id) 
                %tr
                  %td.col-xs-2.text-center 
                    = school.name
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: false, ecosoc: false, segib: false).count
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: true, ecosoc: false, segib: false).count
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: false, ecosoc: false, segib: true).count
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: false, ecosoc: true, segib: false).count
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: true, ecosoc: false, segib: true).count
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: true, ecosoc: true, segib: false).count
                  %td.col-xs-1.text-center 
                    = school_countries.where(ag: true, sti: true, cs: false, ecosoc: true, segib: true).count
                  %td.col-xs-1.text-center 
                    = school_countries.observer.count
                  %td.col-xs-1.text-center 
                    = school_countries.count



  .col-xs-12
    .row
      .col-lg-12
        .row.admin-common-panel__header{style: "margin-top: 20px;", data: {toggle: "collapse",  target: "#requests_section"}}
          .col-xs-12
            .col-xs-11
              %h4
                Pedidos por escuela
            .col-xs-1
              %button.pull-right{style: "margin-top: 7px;", data: {toggle: "collapse",  target: "#requests_section"}}
                .glyphicon.glyphicon-chevron-down

        .table-responsive.collapse{id: "requests_section"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center Escuela
                %th.text-center 3
                %th.text-center 5 (CS)
                %th.text-center 5 (SEGIB)
                %th.text-center 5 (ECOSOC)
                %th.text-center 7 (CS+SEGIB)
                %th.text-center 7 (CS+ECOSOC)
                %th.text-center 7 (ECOSOC+SEGIB)
                %th.text-center Observ.
            %tbody
              - School.all.each do |school|
                - delegation_request = DelegationRequest.where(school_id: school.id).first
                - if delegation_request.present? 
                  %tr
                    %td.col-xs-2.text-center 
                      = school.name
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_count
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_cs_count
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_segib_count
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_ecosoc_count
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_cs_segib_count
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_cs_ecosoc_count
                    %td.col-xs-1.text-center 
                      = delegation_request.ag_sti_ecosoc_segib_count
                    %td.col-xs-1.text-center 
                      = delegation_request.observer_count




  .col-xs-12.admin-header
    .center-vertical
      /%h5.admin-header__breadcrumb Breadcrumb > Breadcrumb
      %h1.admin-header__title
        = display_resource_name(resource_class)
    .admin-header-buttons.center-vertical{style: "display: inline-flex;"}
      = simple_form_for :countries, {url: admin_countries_import_from_excel_path, method: :post, html: { class: "form-inline" }} do |f|
        .div{style: "display: inline-flex"}
          = f.input :file, required: true, as: :file, label: false, input_html: {style: "margin-top: 5px;"}
          = f.button :submit, "Importar desde excel", class: "btn btn-primary admin-header-buttons__item"

      = render "header_buttons", page: page if show_buttons
