- show_buttons = local_assigns[:show_buttons].present?
%header.row.admin-header__container
  .col-xs-12.admin-header
    .row
      .col-lg-4
        .table-responsive{style: "margin-top: 15px;"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center AG
                %th.text-center STI
                %th.text-center CS
                %th.text-center SEGIB
                %th.text-center ECOSOC
            %tbody
              %tr
                %td.text-center 
                  = Country.where(state: "assigned", ag: true).count
                %td.text-center
                  = Country.where(state: "assigned", sti: true).count
                %td.text-center
                  = Country.where(state: "assigned", cs: true).count
                %td.text-center
                  = Country.where(state: "assigned", segib: true).count
                %td.text-center
                  = Country.where(state: "assigned", ecosoc: true).count

      .col-lg-8
        .table-responsive{style: "margin-top: 15px;"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center Europa y Otros
                %th.text-center Asia y Pacífico
                %th.text-center África
                %th.text-center Latinoamerica y Caribe
                %th.text-center Observadoras
            %tbody
              %tr
                %td.text-center 
                  = Country.where(state: "assigned", regional_group: "europe").count
                %td.text-center
                  = Country.where(state: "assigned", regional_group: "asia").count
                %td.text-center
                  = Country.where(state: "assigned", regional_group: "africa").count
                %td.text-center
                  = Country.where(state: "assigned", regional_group: "latam").count
                %td.text-center
                  = Country.where(state: "assigned", regional_group: "observer").count




  .col-xs-12.admin-header
    .center-vertical
      /%h5.admin-header__breadcrumb Breadcrumb > Breadcrumb
      %h1.admin-header__title
        = display_resource_name(resource_class)
    .admin-header-buttons.center-vertical
      = render "header_buttons", page: page if show_buttons
