- show_buttons = local_assigns[:show_buttons].present?
%header.row.admin-header__container
  .col-xs-12.admin-header
    .row
      .col-lg-4
        .table-responsive{style: "margin-top: 15px;"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center AG
                %th.text-center STI
                %th.text-center CS
                %th.text-center SEGIB
                %th.text-center ECOSOC
            %tbody
              %tr
                %td.col-xs-2.text-center 
                  = Country.assigned.where(ag: true).count
                %td.col-xs-2.text-center 
                  = Country.assigned.where(sti: true).count
                %td.col-xs-2.text-center 
                  = Country.assigned.where(cs: true).count
                %td.col-xs-2.text-center 
                  = Country.assigned.where(segib: true).count
                %td.col-xs-2.text-center 
                  = Country.assigned.where(ecosoc: true).count

      .col-lg-8
        .table-responsive{style: "margin-top: 15px;"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center Europa y Otros
                %th.text-center Asia y Pacífico
                %th.text-center África
                %th.text-center Lat. y Caribe
                %th.text-center Observadoras
            %tbody
              %tr
                %td.col-xs-2.text-center 
                  = Country.assigned.europe.count
                %td.col-xs-2.text-center 
                  = Country.assigned.asia.count
                %td.col-xs-2.text-center 
                  = Country.assigned.africa.count
                %td.col-xs-2.text-center 
                  = Country.assigned.latam.count
                %td.col-xs-2.text-center 
                  = Country.assigned.observer.count

  .col-xs-12
    .row
      .col-lg-12
        .row.admin-common-panel__header{style: "margin-top: 20px;"}
          .col-xs-12
            .col-xs-11
              %h4
                Delegaciones por escuela
            .col-xs-1
              %button.pull-right{style: "margin-top: 7px;", data: {toggle: "collapse",  target: "#schools_section"}}
                .glyphicon.glyphicon-chevron-down

        .table-responsive.collapse{id: "schools_section"}
          %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px; background-color: white;"}
            %thead
              %tr
                %th.text-center Escuela
                %th.text-center 3
                %th.text-center 5 (CS+SEGIB)
                %th.text-center 5 (CS+ECOSOC)
                %th.text-center 5 (ECOSOC+SEGIB)
                %th.text-center 7 
                %th.text-center Total 
            %tbody
              - School.all.each do |school|
                %tr
                  %td.col-xs-3.text-center 
                    = school.name
                  %td.col-xs-1.text-center 
                    = Country.assigned.where(school_id: school.id, ag: true, sti: true, cs: false, ecosoc: false, segib: false).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(school_id: school.id, ag: true, sti: true, cs: true, ecosoc: false, segib: true).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(school_id: school.id, ag: true, sti: true, cs: true, ecosoc: true, segib: false).count
                  %td.col-xs-2.text-center 
                    = Country.assigned.where(school_id: school.id, ag: true, sti: true, cs: false, ecosoc: true, segib: true).count
                  %td.col-xs-1.text-center 
                    = Country.assigned.where(school_id: school.id, ag: true, sti: true, cs: true, ecosoc: true, segib: true).count
                  %td.col-xs-1.text-center 
                    = Country.assigned.where(school_id: school.id).count




  .col-xs-12.admin-header
    .center-vertical
      /%h5.admin-header__breadcrumb Breadcrumb > Breadcrumb
      %h1.admin-header__title
        = display_resource_name(resource_class)
    .admin-header-buttons.center-vertical
      = render "header_buttons", page: page if show_buttons
