= render 'header', page: page

.row
  .col-xs-12
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          %h5
            = t("administrate.details")
      .row.admin-common-panel__content
        .col-xs-12
          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:id)
            .col-sm-9
              .span
                = page.resource.id

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:name)
            .col-sm-9
              .span
                = page.resource.name

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:regional_group)
            .col-sm-9
              .span
                = page.resource.regional_group_name

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:state)
            .col-sm-9
              .span
                = page.resource.state_name

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:school)
            .col-sm-9
              .span
                = page.resource.school.try(:name)

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:ag)
            .col-sm-9
              - ag = page.resource.ag
              .span.label{class: "label-#{ag ? 'success' : 'default'}"}
                = ag ? "Si" : "No"
          
          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:sti)
            .col-sm-9
              - sti = page.resource.sti
              .span.label{class: "label-#{sti ? 'success' : 'default'}"}
                = sti ? "Si" : "No"

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:cs)
            .col-sm-9
              - cs = page.resource.cs
              .span.label{class: "label-#{cs ? 'success' : 'default'}"}
                = cs ? "Si" : "No"

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:segib)
            .col-sm-9
              - segib = page.resource.segib
              .span.label{class: "label-#{segib ? 'success' : 'default'}"}
                = segib ? "Si" : "No"

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Country.human_attribute_name(:ecosoc)
            .col-sm-9
              - ecosoc = page.resource.ecosoc
              .span.label{class: "label-#{ecosoc ? 'success' : 'default'}"}
                = ecosoc ? "Si" : "No"


      .item-actions{style: "margin: 20px;"}
        = render 'item_actions', page: page
