!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title
      = content_for(:title)
      | UM Bragado
    %link{rel: "shortcut icon", href: "/img/mnubragadologo.png"}
    /=# stylesheet_link_tag "//fonts.googleapis.com/css?family=Lato:300,400,900", media: "all"
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    = stylesheet_link_tag "admin/application", media: "all"
    = csrf_meta_tags
  %body
    = render partial: "layouts/flash_messages"
    #wrapper
      = render partial: "layouts/administrate/navbar"
      #page-wrapper
        = yield      
    = render partial: "layouts/administrate/javascript"          
