= render 'header', page: page

.row
  .col-xs-12
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          %h5
            = t("administrate.details")
      .row.admin-common-panel__content
        .col-xs-12

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:id)
            .col-sm-9
              .span
                = page.resource.id

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:participated)
            .col-sm-9
              - participated = page.resource.participated
              .span.label{class: "label-#{participated ? 'primary' : 'default'}"}
                = participated ? "Si" : "No"

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:paid)
            .col-sm-9
              - paid = page.resource.paid
              .span.label{class: "label-#{paid ? 'primary' : 'default'}"}
                = paid ? "Si" : "No"


          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:school)
            .col-sm-9
              .span
                = page.resource.school.name

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:professor)
            .col-sm-9
              .span
                = page.resource.professor.full_name
          
          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:rol)
            .col-sm-9
              .span
                = page.resource.rol_translation

          = render 'admin/shared/show/person_section', page: page, title: Delegate.human_attribute_name(:person), resource: page.resource.person, show_title: false

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:school_year)
            .col-sm-9
              .span
                = page.resource.school_year

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:orientation)
            .col-sm-9
              .span
                = page.resource.orientation

          = render 'admin/shared/show/medical_data_section', page: page, title: Delegate.human_attribute_name(:medical_data), resource: page.resource.medical_data

          %br
          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:tutors_email)
            .col-sm-9
              .span
                = page.resource.tutors_email

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegate.human_attribute_name(:presential_activities)
            .col-sm-9
              - presential = page.resource.presential_activities
              .span.label{class: "label-#{presential ? 'primary' : 'default'}"}
                = presential ? "Si" : "No"

      .item-actions{style: "margin: 20px;"}
        = render 'item_actions', page: page