%body#page-top.index
  = render "/shared/simple_navbar"
  
  = render "/shared/shared_header", id: "files"

  .container{style: "margin-top: -50px;"}
    .row
      .col-lg-12
        %h1.section-heading.pull-left{style: "color: #333;"}
          = @folder_name.present? ? "Tópicos / #{@folder_name}" : "Tópicos"


  %section#files{style: "margin-top: -150px;"}
    .container
      - if @show_folders
        .row
          - @folders.each_slice(4) do |folders_group|
            .row
              .col-md-2.hidden-sm
              - folders_group.each do |folder| 
                .col-md-2.col-sm-3.portfolio-item.text-center
                  %a.portfolio-link{href: topics_archives_path(folder: folder[:section], folder_name: folder[:name]), style: "color: white; text-decoration: none;"}
                    %img.img-responsive{:alt => "", :src => "/img/files/folder.png", style: "width: 175px; height: 150px;"}/
                    .portfolio-caption
                      %h4.text-center{style: "color: #333"}
                        = folder[:name]
      - else
        .row
          - if @files.present?
            - @files.each_slice(4) do |file_group|
              .row
                .col-md-2.hidden-sm
                - file_group.each do |file| 
                  - file_path = file.file_type == "folder" ? folder_path(id: file.id) : file.file.url
                  .col-md-2.col-sm-3.portfolio-item.text-center
                    %a.portfolio-link{href: file_path, style: "color: white; text-decoration: none;"}
                      %img.img-responsive{:alt => "", :src => "/img/files/#{file.file_type}.png", style: "width: 175px; height: 150px;"}/
                      .portfolio-caption
                        %h4.text-center{style: "color: #333"}
                          = file.name
          - else
            .col-xs-12
              .admin-common-panel
                .row.admin-common-panel__content
                  .col-xs-12
                    .col-xs-12
                      %h2.text-center
                        ¡Lo sentimos!
                      %h3.text-center
                        Todavía no se encuentra disponible el material de esta sección. Estamos trabajando para cargar todo el contenido en nuestra página. Volvé pronto por si hay novedades



  = render "/shared/simple_footer"