.js-item-container
  = simple_form_for([namespace, page.resource], html: { class: "form js-item-form" }) do |f|
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          %h5= t("administrate.details")

      .row.admin-common-panel__content
        .col-md-12
          = f.input :type, as: :hidden

          - if f.object.persisted?
            .col-md-12.form-group
              = f.input :id, readonly: true, input_html: {class: "form-control"}

          .col-md-12.form-group
            = f.input :name, required: false, input_html: {class: "form-control"}

          .col-md-12.form-group
            = f.input :description, required: false, input_html: {class: "form-control"}

          - if f.object.type == "Archive"
            .col-md-12.form-group
              = f.label :file
              / - image = f.object.inscription_image
              / - if image.present?
              /   %br
              /   = image_tag image.try(:smallthumb)
              /   %br
              /   %br
              = f.file_field :file


          .col-md-12.form-group
            = f.input :abstract_file_id, required: false, input_html: {class: "form-control js-select2"},
              collection: Folder.all,
              placeholder: I18n.t("administrate.select_option",
                option: Archive.human_attribute_name(:folder)),
              selected: f.object.abstract_file_id,
              include_blank: true,
              label_method: -> (folder) { folder.full_name }

          .col-md-12.form-group
            = f.input :file_type, required: false, input_html: {class: "form-control js-select2"},
              collection: AbstractFile.file_types.keys,
              placeholder: I18n.t("administrate.select_option",
                option: AbstractFile.human_attribute_name(:file_type)),
              selected: f.object.file_type,
              include_blank: true,
              label_method: -> (org) { t("abstract_file.file_types")[org.to_sym] }

          .col-md-12.form-group
            = f.input :classification, required: false, input_html: {class: "form-control js-select2"},
              collection: AbstractFile.classifications.keys,
              placeholder: I18n.t("administrate.select_option",
                option: AbstractFile.human_attribute_name(:classification)),
              selected: f.object.classification,
              include_blank: true,
              label_method: -> (org) { t("abstract_file.classifications")[org.to_sym] }

          .col-md-12.form-group
            = f.input :archive_type, required: false, input_html: {class: "form-control js-select2"},
              collection: AbstractFile.archive_types.keys,
              placeholder: I18n.t("administrate.select_option",
                option: AbstractFile.human_attribute_name(:archive_type)),
              selected: f.object.archive_type,
              include_blank: true,
              label_method: -> (org) { t("abstract_file.archive_types")[org.to_sym] }


        .col-xs-12
          .form-actions.mt20
            = button_tag(type: "submit", class:"btn btn-primary") do
              %span
                // = submit_entity_label(f.object)
                = "Agregar #{f.object.type == 'Folder' ? 'Carpeta' : 'Archivo'}"
              %i.fa.fa-plus.ml5
            = link_to :back, class: "btn btn-default ml10" do
              %span
                = I18n.t("administrate.actions.back")
              %i.fa.fa-reply.ml5

