= render 'header', page: page, show_buttons: true

.row
  .col-lg-3.col-md-6
    .panel.panel-info
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-eye.fa-5x
          .col-xs-9.text-right
            .huge 
              = @model_data[:views]
            %div Visitas
  .col-lg-3.col-md-6
    .panel.panel-default
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-list.fa-5x
          .col-xs-9.text-right
            .huge
              = @model_data[:inscriptions]
            %div Inscripciones
  .col-lg-3.col-md-6
    .panel.panel-warning
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-comment-o.fa-5x
          .col-xs-9.text-right
            .huge 
              = @model_data[:queries]
            %div Consultas

  .col-lg-3.col-md-6
    .panel.panel-danger
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-group.fa-5x
          .col-xs-9.text-right
            .huge 
              = @model_data[:persons]
            %div Personas


.row
  .col-lg-2.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-group.fa-5x
          .col-xs-9.text-right
            .huge 
              = @current_year_statistics[:partakers]
            %div Participantes
      %a{:href => admin_partakers_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix

  .col-lg-2.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-flag.fa-5x
          .col-xs-9.text-right
            .huge
              = @current_year_statistics[:delegations]
            %div Delegaciones
      %a{:href => admin_delegations_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-2.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-user.fa-5x
          .col-xs-9.text-right
            .huge 
              = @current_year_statistics[:delegates]
            %div Delegados
      %a{:href => admin_delegates_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-2.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-user-secret.fa-5x
          .col-xs-9.text-right
            .huge 
              = @current_year_statistics[:authorities]
            %div Autoridades
      %a{:href => admin_authorities_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-2.col-md-6
    .panel.panel-success
      .panel-heading
        .row
          .col-xs-3
            %i.fa.glyphicon.glyphicon-education.fa-5x
          .col-xs-9.text-right
            .huge 
              = @current_year_statistics[:professors]
            %div Profesores
      %a{:href => admin_professors_path}
        .panel-footer{style: "color: #3c763d;"}
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-2.col-md-6
    .panel.panel-info
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-university.fa-5x
          .col-xs-9.text-right
            .huge 
              = @current_year_statistics[:schools]
            %div Escuelas
      %a{:href => admin_schools_path}
        .panel-footer{style: "color: #317090;"}
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix


.row.statistics{data: {statistics: @chart_statistics}}

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        General
      .panel-body
        .row
          .col-lg-4
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px;"}
                %thead
                  %tr
                    %th.text-center Año
                    %th.text-center Delegaciones
                    %th.text-center Participantes
                    %th.text-center Delegados
                    %th.text-center Autoridades
                %tbody
                  - if @statistics.present? 
                    - @statistics.each do |stat| 
                      %tr
                        %td.text-center 
                          = stat[:year]
                        %td.text-center
                          = stat[:delegations]
                        %td.text-center
                          = stat[:partakers]
                        %td.text-center
                          = stat[:delegates]
                        %td.text-center
                          = stat[:authorities]


          .col-lg-8
            .partakers-numbers
              #morris-bar-chart{style: "height: 230px;"}


.row
  .col-lg-8
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        Participantes
      .panel-body
        .row
          .col-lg-12
            .partakers-numbers
              #morris-area-chart

  .col-lg-4
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        Delegaciones
      .panel-body
        .row
          .col-lg-12.text-center
            .partakers-numbers
              #morris-donut-chart



