= render 'header', page: page, show_buttons: true

.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-group.fa-5x
          .col-xs-9.text-right
            .huge 
              = @statistics.first[:partakers]
            %div Participantes
      %a{:href => admin_partakers_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix

  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-flag.fa-5x
          .col-xs-9.text-right
            .huge
              = @statistics.first[:delegations]
            %div Delegaciones
      %a{:href => admin_delegations_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-user.fa-5x
          .col-xs-9.text-right
            .huge 
              = @statistics.first[:delegates]
            %div Delegados
      %a{:href => admin_delegates_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.glyphicon.glyphicon-education.fa-5x
          .col-xs-9.text-right
            .huge 
              = @statistics.first[:authorities]
            %div Autoridades
      %a{:href => admin_authorities_path}
        .panel-footer
          %span.pull-left Ver Detalles
          %span.pull-right
            %i.fa.fa-arrow-circle-right
          .clearfix




.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %i.fa.fa-bar-chart-o.fa-fw
        Estadisticas

      .row
        .col-lg-12
          .table-responsive
            %table.table.table-bordered.table-hover.table-striped{style: "margin-bottom: 0px;"}
              %thead
                %tr
                  %th.text-center Año
                  %th.text-center Delegaciones
                  %th.text-center Participantes
                  %th.text-center Delegados
                  %th.text-center Autoridades
              %tbody
                - if @statistics.present? 
                  - @statistics.each do |stat| 
                    %tr
                      %td.text-center 
                        = stat[:year]
                      %td.text-center
                        = stat[:delegations]
                      %td.text-center
                        = stat[:partakers]
                      %td.text-center
                        = stat[:delegates]
                      %td.text-center
                        = stat[:authorities]