.js-item-container
  = simple_form_for([namespace, page.resource], html: { class: "form js-item-form" }) do |f|
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          %h5= t("administrate.details")

      .row.admin-common-panel__content
        .col-md-12
          - if f.object.persisted?
            .col-md-12.form-group
              = f.input :id, readonly: true, input_html: {class: "form-control"}

          = f.simple_fields_for :user, f.object.user || f.object.build_user do |variant_form|
            = render 'admin/shared/user_fields', f: variant_form, object: f.object
          %br
          
          .col-md-12.form-group
            = f.input :rol, required: false, input_html: {class: "form-control"}

          .col-md-12.form-group
            = f.input :facebook_url, required: false, input_html: {class: "form-control"}

          .col-md-12.form-group
            = f.input :twitter_url, required: false, input_html: {class: "form-control"}

          .col-md-12.form-group
            = f.input :instagram_url, required: false, input_html: {class: "form-control"}

          .col-md-12.form-group
            = f.input :principal_image,
              required: false,
              hint: f.object.principal_image.try(:file).try(:filename)
            = f.input :principal_image_cache, as: :hidden

          .col-md-12.form-group
            = f.input :secondary_image,
              required: false,
              hint: f.object.secondary_image.try(:file).try(:filename)
            = f.input :secondary_image_cache, as: :hidden

        .col-xs-12
          .form-actions.mt20
            = button_tag(type: "submit", class:"btn btn-primary") do
              %span
                = submit_entity_label(f.object)
              %i.fa.fa-plus.ml5
            = link_to :back, class: "btn btn-default ml10" do
              %span
                = I18n.t("administrate.actions.back")
              %i.fa.fa-reply.ml5

