.js-item-container
  = simple_form_for([namespace, page.resource], html: { class: "form js-item-form" }) do |f|
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          %h5= t("administrate.details")

      .row.admin-common-panel__content
        .col-md-12
          - if f.object.persisted?
            .col-md-12.form-group
              = f.input :id, readonly: true, input_html: {class: "form-control"}
          .col-md-12.form-group
            = f.input :country_id, as: :select, collection: Country.all, selected: f.object.country.try(:id), include_blank: true, input_html: {class: "form-control"}
          .col-md-12.form-group
            = f.input :year, as: :select, collection: (2013..@current_year).to_a, selected: f.object.year || @current_year, input_html: {class: "form-control"}

          .row.admin-common-panel__content.collapse.in{id: "delegates_form"}  
            .col-xs-12
              .admin-common-panel
                .row.admin-common-panel__header
                  .col-xs-12
                    .col-xs-11
                      %h5
                        = "Delegados"
                .row.admin-common-panel__content  
                  = f.simple_fields_for :delegates do |variant_form|
                    = render partial: "admin/shared/delegate_form", locals: { f: variant_form, collapse_panel: true }
                    %br
                    %br

                  .links.col-xs-12
                    %br
                    = link_to_add_association f, :delegates, class: "btn btn-default", partial: "admin/shared/delegate_form", render_options: { locals: {collapse_panel: false } } do
                      = I18n.t("administrate.actions.add_entity", entity: "Delegado")
                      %i.fa.fa-plus.ml10


                / %br
                / .links.col-xs-12
                /   = link_to_add_association f, :ag_delegate1, class: "btn btn-default", partial: "admin/delegations/delegate_fields", render_options: { locals: {f: f, item: f.object, type: :ag, title: I18n.t('delegation.ag_title'), label: I18n.t('delegation.ag_delegate'), field: "ag_delegate", collection: Delegate.ag} } do
                /     = I18n.t("administrate.actions.add_entity", entity: Delegate.model_name.human)
                /     %i.fa.fa-plus.ml10
                / %br
                / .links.col-xs-12
                /   = link_to_add_association f, :cs_delegate1, class: "btn btn-default", partial: "admin/delegations/delegate_fields", render_options: { locals: {f: f, item: f.object, type: :cs, title: I18n.t('delegation.cs_title'), label: I18n.t('delegation.cs_delegate'), field: "cs_delegate", collection: Delegate.cs} } do
                /     = I18n.t("administrate.actions.add_entity", entity: Delegate.model_name.human)
                /     %i.fa.fa-plus.ml10
                / %br
                / .links.col-xs-12
                /   = link_to_add_association f, :segib_delegate1, class: "btn btn-default", partial: "admin/delegations/delegate_fields", render_options: { locals: {f: f, item: f.object, type: :segib, title: I18n.t('delegation.segib_title'), label: I18n.t('delegation.segib_delegate'), field: "segib_delegate", collection: Delegate.segib} } do
                /     = I18n.t("administrate.actions.add_entity", entity: Delegate.model_name.human)
                /     %i.fa.fa-plus.ml10



        .col-xs-12
          .form-actions.mt20
            = button_tag(type: "submit", class:"btn btn-primary") do
              %span
                = submit_entity_label(f.object)
              %i.fa.fa-plus.ml5
            = link_to :back, class: "btn btn-default ml10" do
              %span
                = I18n.t("administrate.actions.back")
              %i.fa.fa-reply.ml5

