= render 'header', page: page

.row
  .col-xs-12
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          %h5
            = t("administrate.details")
      .row.admin-common-panel__content
        .col-xs-12

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegation.human_attribute_name(:id)
            .col-sm-9
              .span
                = page.resource.id

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegation.human_attribute_name(:country)
            .col-sm-9
              .span
                = page.resource.country.try(:name)

          .row.admin-detail-row
            .col-sm-3
              .span.bold
                = Delegation.human_attribute_name(:year)
            .col-sm-9
              .span
                = page.resource.year

          .admin-common-panel
            .row.admin-common-panel__header
              .col-xs-12
                %h5
                  Delegados
            - page.resource.delegates.each do |delegate|
              .row.admin-common-panel__content
                .row.admin-detail-row
                  .col-xs-12
                    .col-sm-3
                      .span.bold
                        = I18n.t("partaker.rols")[delegate.rol.to_sym]
                    .col-sm-8
                      .span
                        = delegate.try(:full_name)
                        
                        .span.label{class: "label-#{delegate.participated ? 'primary' : 'default'}", style: "margin-left: 10px;"}
                          = delegate.participated ? "Participó" : "No participó"
                        
                        - if delegate.has_diet?
                          .span.label.label-success{style: "margin-left: 10px;"}
                            Dieta
                        
                        - if delegate.has_medical_problems?
                          .span.label.label-danger{style: "margin-left: 10px;"}
                            Médico
                    .col-sm-1
                      = link_to admin_delegate_path(delegate.id) do
                        %span.pull-left Ver Detalles
                        %span.pull-right
                          %i.fa.fa-arrow-circle-right
                        .clearfix



          /   %br
          / - if page.resource.ag_delegate1.present? || page.resource.ag_delegate2.present?
          /   .admin-common-panel
          /     .row.admin-common-panel__header
          /       .col-xs-12
          /         %h5
          /           = I18n.t('delegation.ag_title')
          /     .row.admin-common-panel__content
          /       .row.admin-detail-row
          /         .col-xs-12
          /           .col-sm-3
          /             .span.bold
          /               = Delegation.human_attribute_name(:ag_delegate)
          /           .col-sm-9
          /             .span
          /               = page.resource.ag_delegate1.try(:full_name)

          /       .row.admin-detail-row
          /         .col-xs-12
          /           .col-sm-3
          /             .span.bold
          /               = Delegation.human_attribute_name(:ag_delegate)
          /           .col-sm-9
          /             .span
          /               = page.resource.ag_delegate2.try(:full_name)

          /   %br
          / - if page.resource.cs_delegate1.present? || page.resource.cs_delegate2.present?
          /   .admin-common-panel
          /     .row.admin-common-panel__header
          /       .col-xs-12
          /         %h5
          /           = I18n.t('delegation.cs_title')
          /     .row.admin-common-panel__content
          /       .row.admin-detail-row
          /         .col-xs-12
          /           .col-sm-3
          /             .span.bold
          /               = Delegation.human_attribute_name(:cs_delegate)
          /           .col-sm-9
          /             .span
          /               = page.resource.cs_delegate1.try(:full_name)

          /       .row.admin-detail-row
          /         .col-xs-12
          /           .col-sm-3
          /             .span.bold
          /               = Delegation.human_attribute_name(:cs_delegate)
          /           .col-sm-9
          /             .span
          /               = page.resource.cs_delegate2.try(:full_name)

          /   %br
          / - if page.resource.segib_delegate1.present? || page.resource.segib_delegate2.present?
          /   .admin-common-panel
          /     .row.admin-common-panel__header
          /       .col-xs-12
          /         %h5
          /           = I18n.t('delegation.segib_title')
          /     .row.admin-common-panel__content
          /       .row.admin-detail-row
          /         .col-xs-12
          /           .col-sm-3
          /             .span.bold
          /               = Delegation.human_attribute_name(:segib_delegate)
          /           .col-sm-9
          /             .span
          /               = page.resource.segib_delegate1.try(:full_name)

          /       .row.admin-detail-row
          /         .col-xs-12
          /           .col-sm-3
          /             .span.bold
          /               = Delegation.human_attribute_name(:segib_delegate)
          /           .col-sm-9
          /             .span
          /               = page.resource.segib_delegate2.try(:full_name)

      .item-actions{style: "margin: 20px;"}
        = render 'item_actions', page: page