.col-md-12
  - if f.object.persisted?
    .col-md-12.form-group
      = f.input :id, readonly: true, input_html: {class: "form-control"}
  
  .col-md-12.form-group
    = f.input :year, as: :select, collection: (2013..@current_year).to_a, selected: f.object.year || @current_year, input_html: {class: "form-control"}

  .col-md-12.form-group
    = f.input :participated, as: :select, collection: [["Si", true], ["No", false]], selected: f.object.participated, input_html: {class: "form-control"}

  .col-md-12.form-group
    = f.input :professor_id, required: false, input_html: {class: "form-control"},
      collection: Professor.all,
      placeholder: I18n.t("administrate.select_option",
        option: Delegate.human_attribute_name(:professor)),
      selected: f.object.professor.try(:id),
      include_blank: true,
      label_method: -> (prof) { "#{prof.first_name} #{prof.last_name}" }

  .col-md-12.form-group
    = f.input :school_id, required: false, input_html: {class: "form-control"},
      collection: School.all,
      placeholder: I18n.t("administrate.select_option",
        option: Delegate.human_attribute_name(:school)),
      selected: f.object.school.try(:id),
      include_blank: true,
      label_method: -> (sch) { "#{sch.name} - #{sch.location.city}, #{sch.location.province}" }

  .col-md-12.form-group
    = f.input :rol, required: false, input_html: {class: "form-control"},
      collection: Delegate.rols.keys,
      placeholder: I18n.t("administrate.select_option",
        option: Delegate.human_attribute_name(:rol)),
      selected: f.object.rol,
      include_blank: true,
      label_method: -> (org) { t("partaker.rols")[org.to_sym] }

.col-md-12
  = f.simple_fields_for :person, f.object.person || f.object.build_person do |variant_form|
    = render 'admin/shared/person_fields', f: variant_form, item: f.object
  %br
.col-md-12
  = f.simple_fields_for :medical_data, f.object.medical_data || f.object.build_medical_data do |variant_form|
    = render 'admin/shared/medical_data_fields', f: variant_form, item: f.object
  %br
