.admin-common-panel__content  
  .col-xs-12
    .admin-common-panel
      .row.admin-common-panel__header
        .col-xs-12
          .col-xs-11
            %h5
              = "#{f.object.persisted? ? I18n.t("partaker.rols")[f.object.rol.to_sym] : 'Delegado' }      #{(' -- ' + f.object.full_name) if f.object.persisted?}"
          .col-xs-1
            %button.pull-right{style: "margin-top: 5px;", type: "button", data: {toggle: "collapse",  target: "##{f.object.id}"}}
              .glyphicon.glyphicon-chevron-down
      .row.admin-common-panel__content{id: "#{f.object.id}", class: "#{collapse_panel ? 'collapse out' : 'collapse in'}"}
        = render partial: "admin/shared/delegate_fields", f: f, locals: {f: f}
  %br
  %br

