.admin-common-panel
  .row.admin-common-panel__header
    .col-xs-12
      %h5
        = School.human_attribute_name(:medical_data)
  .row.admin-common-panel__content
    .col-md-12
      .form-group
        = f.input :has_chronic_desease, 
             :collection => [["Si", true],["No", false]], 
             :label_method => :first, 
             :value_method => :last,
             :as => :radio_buttons, 
             :label => "¿Padece alguna enfermedad crónica?",
             :item_wrapper_class => 'inline'
      .form-group
        = f.input :chronic_desease_detail, required: false, input_html: {class: "form-control"}

      .form-group
        = f.input :take_medication, 
             :collection => [["Si", true],["No", false]], 
             :label_method => :first, 
             :value_method => :last,
             :as => :radio_buttons, 
             :label => "¿Está tomando algún medicamento?",
             :item_wrapper_class => 'inline'
      .form-group
        = f.input :medication_detail, required: false, input_html: {class: "form-control"}

      .form-group
        = f.input :has_medical_background, 
             :collection => [["Si", true],["No", false]], 
             :label_method => :first, 
             :value_method => :last,
             :as => :radio_buttons, 
             :label => "Antecedentes (operaciones, convulsiones, etc.)",
             :item_wrapper_class => 'inline'
      .form-group
        = f.input :medical_background_detail, required: false, input_html: {class: "form-control"}

      .form-group
        = f.input :has_allergy, 
             :collection => [["Si", true],["No", false]], 
             :label_method => :first, 
             :value_method => :last,
             :as => :radio_buttons, 
             :label => "¿Padece alergias de algún tipo? (comidas, medicamentos, picaduras de insectos u otras)",
             :item_wrapper_class => 'inline'
      .form-group
        = f.input :allergy_detail, required: false, input_html: {class: "form-control"}

      .form-group
        = f.input :has_specific_diet, 
             :collection => [["Si", true],["No", false]], 
             :label_method => :first, 
             :value_method => :last,
             :as => :radio_buttons, 
             :label => "¿Debe serguir alguna dieta especial?",
             :item_wrapper_class => 'inline'
      .form-group
        = f.input :specific_diet_detail, required: false, input_html: {class: "form-control"}

      .form-group
        = f.input :is_vegetarian, 
             :collection => [["Si", true],["No", false]], 
             :label_method => :first, 
             :value_method => :last,
             :as => :radio_buttons, 
             :label => "¿Es vegetariana/o?",
             :item_wrapper_class => 'inline'

      .form-group
        = f.input :doctor_name, label: "Nombre y apellido del médico de cabecera", required: false, input_html: {class: "form-control"}
      .form-group
        = f.input :doctor_phone_number, label: "Teléfono en donde se lo pueda ubicar", required: false, input_html: {class: "form-control"}
      .form-group
        = f.input :urgency_clinic, label: "¿A qué lugar derivar en caso de urgencia?", required: false, input_html: {class: "form-control"}
