%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = #render 'shared/shared_css'
    = stylesheet_link_tag "email.css"
  %body.email
    %table{ style: "width:100%" }
      %tbody
        %tr
          %td
          %td.container{:width => "740"}
            .content
              %table.main{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %tr
                  %td.content-wrap{style: "padding: 0px;"}
                    %table{:cellpadding => "0", :cellspacing => "0", width: "100%"}
                      %tr
                        %td{ style: "border-radius: 0" }
                          .row
                            .col-xs-12.text-center
                              %img{src: "http://mnubragado.com/img/principal/mnubragado-background2.jpg", style: "width: 100%;"}
    
                    %table{:cellpadding => "0", :cellspacing => "0", width: "100%"}
                      %tr
                        = yield

                      %tr
                        = render 'shared/mailer_footer'


                            
    .row.aligncenter{ style: 'margin: auto;' }
      .row.font-size-12.text-grey
        Powered by 
        = link_to "MNU Bragado", "http://mnubragado.com", class: 'text-format-bold'
